#message {
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

#answer-form {
    text-align: center;
    font-size: xx-large;
}

#result {
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
